In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn import svm
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
data=pd.read_csv("collegePlace.csv")

In [5]:
data.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [7]:

data.drop(['Hostel'], axis=1, inplace=True)

In [9]:
data['Gender'].replace({'Male':'1','Female':'0'},inplace = True)

In [11]:
Y = data['PlacedOrNot']
X = data.drop(['PlacedOrNot'], axis=1)

In [12]:
data.head()

,Age,Gender,Stream,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot
0,22,1,Electronics And Communication,1,8,1,1
1,21,0,Computer Science,0,7,1,1
2,22,0,Information Technology,1,6,0,1
3,21,1,Information Technology,0,8,1,1
4,22,1,Mechanical,0,8,0,1

In [14]:
data['Stream']=data['Stream'].map({'Electronics And Communication':2 , 'Computer Science':0, 'Information Technology':1,'Mechanical':3,'Electrical':4,'Civil':5})

In [15]:
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [21]:

print(X.shape, X_train.shape, X_test.shape)

(2966, 6) (2372, 6) (594, 6)

In [22]:
from sklearn import svm

In [25]:
import seaborn as sns
import matplotlib.pyplot as plt

In [30]:



clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

AttributeError: 'SVC' object has no attribute 'SVC'