In [1]:
import pandas as pd

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn import svm
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
data=pd.read_csv("dataset.csv")

In [5]:
data.head()

,RegNo.,Quants,LogicalReasoning,Verbal,Programming,CGPA,Networking,CloudComp,WebServices,DataAnalytics,QualityAssurance,AI,Placed
0,T150054001,11,11,10,11,10.00,4.3,8.2,8.4,8.3,8.1,8.0,1
1,T150054002,8,10,11,18,8.80,8.9,8.0,8.0,8.0,8.3,9.4,1
2,T150054003,11,11,10,8,9.63,8.4,8.0,8.0,8.0,8.0,5.4,1
3,T150054004,14,13,8,8,6.55,4.5,6.5,6.9,3.3,4.1,4.6,0
4,T150054005,10,7,7,10,7.27,3.1,5.6,6.7,4.6,2.7,4.4,0

In [8]:
data.shape

(330, 13)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RegNo.            330 non-null    object
 1   Quants            330 non-null    int64
 2   LogicalReasoning  330 non-null    int64
 3   Verbal            330 non-null    int64
 4   Programming       330 non-null    int64
 5   CGPA              330 non-null    float64
 6   Networking        330 non-null    float64
 7   CloudComp         330 non-null    float64
 8   WebServices       330 non-null    float64
 9   DataAnalytics     330 non-null    float64
 10  QualityAssurance  330 non-null    float64
 11  AI                330 non-null    float64
 12  Placed            330 non-null    int64
dtypes: float64(7), int64(5), object(1)
memory usage: 33.6+ KB

In [10]:
data.isnull().sum()

RegNo.              0
Quants              0
LogicalReasoning    0
Verbal              0
Programming         0
CGPA                0
Networking          0
CloudComp           0
WebServices         0
DataAnalytics       0
QualityAssurance    0
AI                  0
Placed              0
dtype: int64

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
plt.figure(figsize=(20,10))
sns.heatmap(dataset.corr().abs(), annot=True)

NameError: name 'dataset' is not defined